/**
Add Custom CSS here
*/
html,body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-circle {
    width: 100px;
    height: 100px;
}

footer {
    margin: 50px 0;
}

#parallax-slide,
#products,
#portfolio,
#counter, {
	background-attachment: fixed;
}
.content-section {
    padding: 100px 0;
}

.carousel-caption  {
  h3{
    font-weight: 300;
    color: $white-default-color;
    font-size: 36px
  }
}
.highlight
{
    font-weight: 500;
  color:$color-default;
}
.carousel-caption
{
  bottom: 30%;
}
.mouse {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 12px;
}
.mouse:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: $white-default-color;
    border-radius: 100%;
    left: 50%;
    margin-left: -2.5px;
    top: 10px;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}
.carousel
{
  height:100%;
}
.navbar
{
  background: $color-default;
}
.navbar-default .navbar-nav>li>a
{
  color: $white-default-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    text-transform: none;
    color: $color-default;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}
.services h2
{
  margin:0 0 40px 0;
}
.services-item {
    background: #f9f9f9;
    padding: 30px 20px 20px;
    margin: 15px 0;
    position: relative;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}
